$brand: #A9161C;

$primary-1: #1665A9;
$primary-2: #E9B704;
$primary-3: #16A95A;

$secondary-1: #125187;
$secondary-2: #73A3CB;
$secondary-3: #A2C1DD;
$secondary-4: #E8F0F7;
$secondary-5: #73CB9C;
$secondary-6: #A2DDBD;
$secondary-7: #E8F7EF;
$secondary-8: #F2D468;
$secondary-9: #F6E29A;
$secondary-10: #FDF8E6;
$secondary-11: #871216;
$secondary-12: #CB7377;
$secondary-13: #DDA2A4;
$secondary-14: #F7E8E9;


$neutal-1:#1A1A1A;
$neutal-2:#1E202F;
$neutal-3:#4F5561;
$neutal-4:#2F4858;
$neutal-5:#B3B3B3;
$neutal-6:#BCBCC1;
$neutal-7:#CBCCD0;
$neutal-8:#C1C9CD;
$neutal-9:#E6E6E6;
$neutal-10:#E9E9EB;
$neutal-11:#EEEEF0;
$neutal-12:#EBEDEF;
$neutal-13:#F3F3F3;
$neutal-14:#F4F4F5;
$neutal-15:#F7F7F8;
$neutal-16:#F5F6F7;
$neutal-17:#FBFBFB;
$neutal-18:#fff;
$neutal-19:#1A204E;

$box-shadow: 0px 8px 20px rgba(121, 121, 121, 0.1), 0px -8px 20px rgba(121, 121, 121, 0.1);
$input-shadow: 2px 2px 6px rgba(179, 179, 179, 0.12), -2px -2px 6px rgba(179, 179, 179, 0.12);

$font-Nunito: "Nunito", sans-serif;
$font-size: 1.6rem;

/* Set các giá trị với màn hình tương ứng */
$mobile-width: 480px; 
$lg-mobile-width: 767px;
$tablet-width: 768px; 
$desktop-width: 1024px; 
$lg-desktop-width: 1440px; 
