.scale-in-hor-left {
	-webkit-animation: scale-in-hor-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.topNav {
    background-color: $neutal-13;
    margin-left: auto;
    margin-right: auto;

    &_wrapper {
        width: 100%;
        display: flex;
    }

    &_logo {
        padding-left: 3.2rem;
        padding-right: 3.2rem;

        img {
            min-width: 289px;
            min-height: 69px;
        }
    }

    &_item {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: $neutal-19;
        padding-left: 3.2rem;
        gap: 2.4rem;
    }

    &_link, &_logout {
        position: relative;
        @include font('bold', 16);
       
    }
    &_link{

        text-transform: uppercase;
        color: $neutal-5;
        opacity: 0.6;
        padding: 1.2rem 2rem;
        &:hover{
        color: $neutal-18;
        opacity: 1;
        }
    }
    &_logout{
        margin-left: auto;
        margin-right: 32px;
        i{
            font-size: 2.4rem;
            height: 2.4rem;
            display: block;
            color: $neutal-18;
            // transition: all 0.25s ease-in-out;
        }
    }
}
// Extend
.active-topNav {
    color: $neutal-18;
    opacity: 1;
}


// Animation
@-webkit-keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}

